.footer{
    position: fixed;
    bottom: 0;
}
.form{
    padding-top: 50px;
}
.sendIcon{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width: 700px){
    .footer{
        position: initial;
    }
    .form{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
