@font-face {
  font-family: Supr;
  src: url("../../SUPRFont/SUPR.otf");
}
.hero h2 {
  font-family: Supr, sans-serif;
  font-size: 50px;
  padding-top: 40px;
  width: 75%;
  margin: 20px auto;
  color: #dba54d;
}
.hero {
  background-color: #141414;
  margin: 0;
  padding: 20px;
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
}
.hero p {
  font-size: 22px;
  line-height: 30px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  color: #858585;
  width: 75%;
  margin: 50px auto;
}
.video,
.hero-content {
  flex-basis: 48%;
  margin-bottom: 1rem;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1270px) {
  .video iframe{
    max-width: 100%;
    /* height: auto; */
  }
  .hero-content,
  .video {
    flex-basis: 100%;
  }
}
@media (max-width: 700px) {
  .hero h2 {
    width: 90%;
    font-size: 40px;
  }
  .hero p {
    font-size: 16px;
    line-height: 25px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    color: #b7b7b7;
    width: 85%;
    margin: 30px auto;
  }
}