@font-face {
  font-family: Supr;
  src: url("../../SUPRFont/SUPR.otf");
}
.hero h2 {
  font-family: Supr, sans-serif;
  font-size: 50px;
  padding-top: 40px;
  width: 75%;
  margin: 20px auto;
  color: #dba54d;
}
.hero {
  background-color: #141414;
  margin: 0;
  padding: 20px;
  padding-top: 100px;
  padding-bottom: 50px;
}
.hero p {
  font-size: 22px;
  line-height: 30px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  color: #858585;
  width: 75%;
  margin: 50px auto;
}

@media (max-width: 700px) {
  .hero {
    padding-bottom: 50px;
  }
  .hero h2 {
    width: 90%;
    font-size: 40px;
  }
  .hero p {
    font-size: 16px;
    line-height: 25px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    color: #b7b7b7;
    width: 85%;
    margin: 30px auto;
  }
}
