.aboutus{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #121212;
}
.aboutuscontent{
    width: 50%;
}
.aboutusimg{
    width: 50%;
    background-image: url('../../images/mpirebros.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}
.aboutus h2{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fc3535;
    font-size: 25px;
    line-height: 44px;
    font-weight: bold;
}
.aboutus h1{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: rgb(215,159,66);
    background: linear-gradient(217deg, rgba(215,159,66,1) 0%, rgba(240,201,137,1) 33%, rgba(215,159,66,1) 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 40px;
    line-height: 42px;
    font-weight: 800;
}
.aboutus p{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #D0D3D4;
    text-align: left;
    padding: 20px 40px;
    line-height: 25px;
    font-size: 14px;
}
@media(max-width: 750px){
    .aboutus{
        flex-direction: column-reverse;
    }
    .aboutuscontent{
        width: 100%;
    }
    .aboutusimg{
        width: 100%;
        background-image: url('../../images/mpirebros.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 30vh;
    }
    .aboutus h2{
        font-size: 20px;
        line-height: 44px;
        margin-top: 20px;
    }
    .aboutus h1{
        font-size: 30px;
    }
    .aboutus p{
        text-align: center;
        font-size: 13px;
    }
}
