.usvothers{
    background-color: #ECF0F1;

    /* margin-top: 20px; */
    padding-bottom: 40px;
}
.MuiStepper-vertical{
    /* background-color: #212121; */
    background: rgba( 0, 0, 0, 0.8 ) !important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.0px );
    -webkit-backdrop-filter: blur( 5.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#usvotherstitle{
    font-family: 'Montserrat', sans-serif;
    color: #DBA54D;
    padding: 30px;
    margin: 0;
}
#appbar{
    background-color: #212121;
}
#stepper-container{
    max-width: 800px;
    margin: 0 auto;


}
.tabs {
    background-color: #212121;
    color: #fff;
}
.Mui-selected{
    color: #DBA54D !important;
}
.MuiTabs-indicator {
    background-color: #DBA54D !important;
}
.MuiTab-textColorPrimary {
    color: rgba(255, 255, 255, 0.54);
}
.MuiTypography-root h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: left;
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;
}
.MuiTypography-root p{
    font-family: 'Montserrat', sans-serif;
    color: #DBA54D;
    text-align: left;
    font-size: 22px;
    line-height: 29px;
    font-weight: 500;
}
.subtitle{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: left;
    font-size: 22px;
    line-height: 23px;
    font-weight: bold;
}
.steptitle{
    font-family: 'Montserrat', sans-serif !important;
    text-align: left;
    font-size: 25px !important;
    line-height: 29px;
    font-weight: bold;
    color: white;
}
.stepsubtitle{
    font-family: 'Montserrat', sans-serif !important;
    text-align: left;
    font-size: 22px;
    line-height: 29px;
    font-weight: 500;
    color: white;
}
.steptext{
    font-family: 'Montserrat', sans-serif !important;
    text-align: left;
    font-size: 22px;
    line-height: 23px;
    font-weight: bold;
    color: #DBA54D;
}
.pricingboxes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.MuiButton-root.Mui-disabled, .MuiStepLabel-label {
    color: rgba(255, 255, 255, 0.26) !important;
}
.MuiButton-root, .MuiStepLabel-active {
    color: rgba(255, 255, 255, 0.87) !important;
}
.MuiButton-text:hover {
    background-color: rgba(255, 255, 255, 0.04) !important;
}
.MuiStepIcon-root.MuiStepIcon-completed, .MuiStepIcon-root.MuiStepIcon-active{
    color: #DBa54D !important;
}
.pricingbox{
    border: solid white 1px;
    width: 45%;
    height: 220px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
}
.pricingbox h2, .pricingboxbottom h2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: left;
    font-size: 28px;
    line-height: 44px;
    font-weight: bold;
}
.pricingbox p, .pricingboxbottom p{
    font-family: 'Montserrat', sans-serif;
    color: #DBA54D;
    text-align: left;
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
}
.pricingboxbottom{
    border-radius: 10px;
    border: solid white 1px;
    margin: 0 auto;
    width: 93%;
    height: 220px;
    padding: 10px;
    margin-bottom: 30px;
}

.MuiButton-root{
    border-radius: 50px;
}
.pricingcontent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}
.pricingcontent div{
    border: solid #DBA54D 1.5px;
    border-radius: 10px;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    padding-right: 0;
}
.pricingcontent h2{
    color: white;
}
.pricingcontent p{
    color: #DBa54D;
    text-align: left;
}
.halfbox{
    width: 45%;
    height: 185px;
}
.fullbox{
    width: 96%;
    height: 175px;
}
.buttonnext{
    background-color:#D19737 !important;
    border-radius: 10px !important;
}
@media(max-width: 700px){
    .halfbox{
        width: 100%;
        height: 185px;
    }
    .fullbox{
        width: 100%;
        height: 175px;
    }
}
