.results{
    background-color: #141414;
    padding: 50px 0 20px 0;
}
.carousel-wrapper {
    background-color: white;
    width: 520px;
    height: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 25px 0px rgba(229, 231, 232, 0.2);
    border-radius: 20px;
    margin: 50px auto 20px;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
.resultstitle{
    font-family: 'Montserrat', sans-serif;
    background: rgb(215,159,66);
    background: linear-gradient(217deg, rgba(215,159,66,1) 0%, rgba(240,201,137,1) 33%, rgba(215,159,66,1) 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    padding: 0px;
    font-size: 25px;
    margin: 0;
}
.slidecontent h1{
    font-size: 25px;
}
.slidecontent p{
    padding: 0 15px;
    font-size: 16px;
}
.logodiv{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.7228637413394919) 0%, rgba(255,255,255,0) 100%);
    padding-top:20px;
    margin-bottom: -20px;
}
.carousel-container {
    width: 450px;
    height: 450px;
    overflow: hidden;
    margin: 0 auto;
}
.carousel {
    display: flex;
    width: 2700px;
    animation: sliding 90s infinite;
}
.carousel div {
    width: 450px;
    height: 250px;
    background-size: cover;
    background-position: center;
}
.carousel:hover {
    animation-play-state: paused;
}
.carousel .image-one {
    background-image: url("../../images/brandimages/poopourri.jpg");
}
.carousel .image-two {
    background-image: url("../../images/brandimages/transparentlabs.png");
}
.carousel .image-three {
    background-image: url("../../images/brandimages/buckedup.jpg");
}
.carousel .image-four {
    background-image: url("../../images/brandimages/mrcool.jpg");
}
.carousel .image-five {
    background-image: url("../../images/brandimages/jeunesse.jpg");
}
.carousel .image-six {
    background-image: url("../../images/brandimages/creditrepair.jpg");
}
@keyframes sliding {
    0% {
        transform: translateX(0);
   }
    8% {
        transform: translateX(0);
   }
    20% {
        transform: translateX(-450px);
   }
    35% {
        transform: translateX(-900px);
   }
    50% {
        transform: translateX(-1350px);
   }
    65% {
        transform: translateX(-1800px);
   }
    78% {
        transform: translateX(-2250px);
   }
    100% {
        transform: translateX(0);
   }

}
@media screen and (max-width: 768px) {
    .carousel-wrapper {
        width: 100vw;
        height: 450px;
        padding-top: 10px;
   }
    .carousel-container {
        width: 95vw;
   }
    .carousel {
        width: 570vw;
   }

   .carousel div {
        width: 95vw;
    }
    @keyframes sliding {
        0% {
            transform: translateX(0);
       }
        8% {
            transform: translateX(0);
       }
        20% {
            transform: translateX(-95vw);
       }
        35% {
            transform: translateX(-190vw);
       }
        50% {
            transform: translateX(-285vw);
       }
        65% {
            transform: translateX(-380vw);
       }
        78% {
            transform: translateX(-475vw);
       }
        100% {
            transform: translateX(0);
       }
   }
}
