.results{
    background-color: #ECF0F1;
}
.carousel-wrapper {
    /* background-color: rgba( 0, 0, 0, 0.8 ); */
    box-shadow: 5px 5px 25px 0px rgba(229, 231, 232, 0.2);
    margin: 50px auto;
    max-width: 1200px;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
.resultstitle{
    font-family: 'Montserrat', sans-serif;
    background: rgb(215,159,66);
    background: linear-gradient(217deg, rgba(215,159,66,1) 0%, rgba(240,201,137,1) 33%, rgba(215,159,66,1) 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    padding: 0px;
    font-size: 25px;
    margin: 0;
    padding-top: 40px;
}
.slidecontent{
    background-color: #3C3E3E;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
 }
.slidecontent h1{
    font-size: 25px;
    color: #ECF0F1;
}
.slidecontent p{
    padding: 0 15px;
    font-size: 16px;
    color: #ECF0F1;
}
.logodiv{
/*     background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.7228637413394919) 0%, rgba(255,255,255,0) 100%);
    padding-top:20px;
    margin-bottom: -20px; */
    width: 100%;
}
.carousel-container {
}
.carousel {
    display: flex;
    padding-bottom: 20px;
}
.carousel div {
    margin: 0 auto;
    border-bottom-right-radius: 20px;
    border-radius: 10px;
    /* height: 250px; */
}
.carousel:hover {
    animation-play-state: paused;
}
.image-slide{
    height:500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px !important;
}
.carousel button{
    background-color: rgba(0,0,0,0.45);
}
.MuiIconButton-sizeSmall{
    background-color: transparent !important;
}

@media screen and (max-width: 768px) {

    .results {
        padding: 0 10px;
    }

}
