.results{
    background-color: #323332;
    padding-bottom: 40px;
}
#resultstitle{
    font-family: 'Montserrat', sans-serif;
    color: #FC3535;
    padding: 30px;
    margin: 0;
}
.resultscard{
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}
.brandimage img{
    width: 100%;
}
.brandlogo{
    background-color: rgba(0,0,0,0.4);
    padding: 10px 0;
    position: absolute;
    width: 80%;
    max-width: 400px;
}
.resultsh2{
    font-family: 'Montserrat', sans-serif;
    color: #2e2e2e;
    text-align: left !important;
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
    padding: 20px;
    padding-bottom: 0;
    margin: 0;
}
.resultsp{
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    text-align: left !important;
    font-size: 19px;
    line-height: 27px;
    font-weight: 500;
    padding-top: 0;
    padding: 20px;
    margin: 0;
}
@media(max-width: 700px){
    .resultsh2{
        font-family: 'Montserrat', sans-serif;
        color: #2e2e2e;
        text-align: left !important;
        font-size: 28px;
        line-height: 30px;
        font-weight: bold;
        padding: 20px;
        padding-bottom: 0;
        margin: 0;
    }
    .resultsp{
        font-family: 'Montserrat', sans-serif;
        color: #333333;
        text-align: left !important;
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
        padding-top: 0;
        padding: 20px;
        margin: 0;
    }
}