@font-face {
  font-family: Supr;
  src: url("../../SUPRFont/SUPR.otf");
}
#results {
  width: 100%;
  background-image: url("../../images/Singlelampbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
}
.cs-slides {
  width: 85%;
  max-width: 1400px;
  margin: 50px auto;
  margin-top: 10vh;
}
.splide__slide img {
  width: 80%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.splide__progress__bar {
  background-color: rgb(215, 159, 66);
  height: 8px;
  border-radius: 8px;
}
.text-content {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.splide__slide h1 {
  padding: 0;
  margin: 0;
  font-size: 30px;
  color: #ecf0f1;
  font-family: Supr, sans-serif;
}
.splide__slide p {
  width: 80%;
  margin: 0 auto;
  font-size: 22px;
  color: #ecf0f1;
  text-align: left;
  font-family: "Barlow Condensed", sans-serif;
}
.splide__progress {
  width: 80%;
  margin: 0 auto;
}
.splide__pagination__page.is-active {
  background: rgb(215, 159, 66);
}
.splide__pagination {
  position: initial;
  margin-top: 10px;
}
.resultstitle {
  font-family: Supr, sans-serif;
  font-size: 50px;
  color: #dba54d;
  margin-top: -50px;
  margin-left: -50%;
}
.splide__arrow {
  background: transparent;
  width: 2em;
  height: 2em;
}
.splide__arrow svg {
  width: 2em;
  height: 2em;
}
@media (max-width: 750px) {
  #results{
    padding: 0;
  }
  .resultstitle {
    padding: 0;
    margin: 0;
    padding-top: 30px;
    font-size: 40px;
  }
  .cs-slides {
    width: 95%;
    margin-top: 150px;
  }
  .splide__slide p {
    width: 95%;
    font-size: 16px;
  }
}

