@font-face {
  font-family: Supr;
  src: url("../../SUPRFont/SUPR.otf");
}
:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
}
.capabilities {
  padding-top: 20px;
  background-color: #121212;
  padding-bottom: 50px;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 20px auto;
}
.icon {
  width: 160px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
  color: #dba54d;
}

.capabilities h1 {
  font-family: Supr, sans-serif;
  font-size: 50px;
  color: #dba54d;
  margin-top: 20px;
}

.icon p {
  font-size: 12px;
  margin: 10px;
  padding: 0;
  color: #fff;
  font-family: "Barlow Condensed" sans-serif;
}
.fab,
.fas,
.far {
  width: 100%;
  font-size: 40px;
}
.capabilities-section {
  margin: 40px 40px;
}
#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  /* max-width: 1200px; */
  width: calc(100% - 20px);
  justify-content: center;
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.card-image > i {
  font-size: 6em;
  color: #dba54d;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  margin: 0 auto;
}

.card-info > i {
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title p {
  color: rgb(240, 240, 240);
  font-weight: bold;
}
.card-info-title > h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}
.our-strengths {
  max-width: 800px;
  margin: 0 auto;
}
.our-strengths div {
  margin: 10px;
}
/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media (max-width: 1000px) {
  #cards {
    max-width: 1000px;
    padding: 10px 0px;
  }

  .card {
    flex-shrink: 1;
    width: calc(45% - 4px);
  }
}

@media (max-width: 500px) {
  .card {
    height: 180px;
  }

  .card-image {
    height: 80px;
  }

  .card-image > i {
    font-size: 3em;
  }

  .card-info-wrapper {
    padding: 0px 10px;
  }

  .card-info > i {
    font-size: 0.8em;
  }

  .card-info-title > h3 {
    font-size: 0.9em;
  }

  .card-info-title > h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}

@media (max-width: 320px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .capabilities {
    padding-bottom: 10px;
  }
  .icon {
    width: 140px;
    height: 140px;
  }
  .icon i {
    width: 100px;
  }
  .capabilities-section {
    margin: 0 10px;
  }
}
